<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="jobs"></ion-back-button>
    </ion-buttons>
    <ion-title class="title"> <span style="color:#1f8611;"> Job Detail</span></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-item  >
  <ion-card class="card">
    <ion-card-header>
      <div class="grid-container">
        <div class="grid-item"><ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar></div>
  <div class="grid-item"><ion-card-title class="card-title">{{jobdet.name}}</ion-card-title>
  </div>
        

      </div>
      
      <ion-card-title class="card-title">Title: {{jobdet.jobTitle}}</ion-card-title>
      <ion-card-subtitle class="card-subtitle">BY:{{ jobdet.company }}</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content class="card-content">
     <p> Description: {{jobdet.description}}</p> 
      <br>
      <p> Experience: {{ jobdet.experience }}</p>
      <p> Salary: {{ jobdet.salary }}</p>
      <p> Email: {{ jobdet.email }}</p>
      <p> Contact: {{ jobdet.phone }}</p>
      <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="openPdf()">Download and open Job details pdf</ion-button>



    <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="callUser(jobdet.phone)">Contact Via phone</ion-button>


    <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="sendEmail(jobdet.email)">Contact via email</ion-button>
  
</ion-card-content>

</ion-card>
</ion-item>
</ion-content>
