<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="jobs"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header"> <span style="color:#1f8611;"> <b>Job Detail</b></span></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-item  >
  <ion-card class="card">
    <ion-card-header>
      <div class="grid-container">
        
  <div class="grid-items">
      
        <img src="assets/icon/interview.svg">
     
   
      <ion-card-title class="card-title">{{jobdet.name}}</ion-card-title>

   
  </div>
        

      </div>
      
      <ion-card-title class="card-title">Title: {{jobdet.jobTitle}}</ion-card-title>
      <ion-card-subtitle class="card-subtitle">BY:{{ jobdet.company }}</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content class="card-content">
     <p> Description: {{jobdet.description}}</p> 
      <br>
      <p> Experience: {{ jobdet.experience }}</p>
      <p> Salary: {{ jobdet.salary }}</p>
      <p> Email: {{ jobdet.email }}</p>
      <p> Contact: {{ jobdet.phone }}</p>
      <div class="buttons">
        <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="openPdf(jobdet.ref)"><b>Download pdf</b></ion-button>



    <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="callUser(jobdet.phone)"><b>Call</b></ion-button>


    <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="sendEmail(jobdet.email)"><b>Email</b></ion-button>
      </div>
  
</ion-card-content>

</ion-card>
</ion-item>
</ion-content>
