.ion-content{
    padding:20px;

}
.container{
    background-color: #33cccc;
    padding: 20px;
    width: 100%;
    
}
.card-title {
    font-size: 20;  
    font-weight: bold;
    color: black;
    padding: 20px;
    font-family: cursive;
  }
  .card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    background: white;
    width: 500px;
    height: 100%;

  
  }
  .grid-container {
    display: grid;
  }
  
    .title{
      font-family: cursive;
      font-size: larger;
      --background: #33cccc;
      color:#1f8611;
      border-left: 400px;
  }
  
  .card-subtitle {
    font-size: 1.0em;  
    color: #33cccc;
    
  }
  .card-content{
    padding: 20px;
    margin-right: 20px;
  }