.ion-content{
    background-color:#33cccc;
    padding:20px;

}
.container{
    background-color: #33cccc;
    padding: 20px;
    width: 100%;
    
}
.card-title {
    font-size: 20;  
    font-weight: bold;
    color: black;
    padding: 20px;
    font-family: cursive;
  }
  .card{
      border-radius: 15%;
      background-color: gold;    
      font-family: cursive;
      width: 90%;
      padding: 20px;   
  
  }
  .btn-color {
      --background: var(--ion-color-btn);
      --background: green;
    }
    .title{
        font-family: cursive;
        font-size: larger;
        --background: green;
    }
  
  .card-subtitle {
    font-size: 1.0em;  
    color: #33cccc;
    
  }