<ion-tabs>
  <ion-tab-bar slot="bottom"> 
    <ion-tab-button tab="about">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Job Details</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="applicants">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Applicants</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="confirmed">
        <ion-icon name="images"></ion-icon>
        <ion-label>Confirmed</ion-label>
    </ion-tab-button>

     
  </ion-tab-bar>
</ion-tabs>
