
.title{
    font-size: larger;
    color:green;
    --background: #33cccc;
    font-family: 'Courier New', Courier, monospace;


}
.notification{
  display: grid;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: red;
  border: 2px solid red;
}
// *{
//   background-color: #33cccc;
// }
.card-title {
  font-size: 20;  
  font-weight: bold;
  color: green;
  padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    background: white;
    width: 500px;
    // height: 100%;   

}


.card-subtitle {
  font-size: 1.0em;  
  color: white;
  
}
