<ion-header>
  
  <ion-toolbar color="favorite">    
    <ion-title class="title"><b>All Jobs</b> </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>

  
  </ion-toolbar>
</ion-header> 



<ion-content>
  <ion-searchbar color="white" 
  placeholder="Search"
  [(ngModel)]="search"
  showCancelButton="focus"
  animated="true"
  >

  </ion-searchbar>
  <!-- <ion-card > -->
    <div class="empty"  *ngIf="jobs?.length === 0">
      <ion-icon name="notifications"></ion-icon>     
      <h1>No Job Yet!</h1>      
        <!-- <div class="floatingbtn"> -->
          <ion-button class="title"  shape="block" style="color:white"(click)="goToAddjob()" >Add Job</ion-button>

          
    </div>
  <ion-list lines="none"*ngIf="jobs?.length !== 0" >
    
    
    <ion-item *ngFor="let job of jobs | filter:search" >
      <!-- <ion-card class="card" >
        <h1>{{job.name}}</h1>
        <p>BY:{{ job.company }}</p>
        <h2> {{job.description}}</h2>
        <p> Email: {{ job.email }}</p>
        <ion-button class="btn-color" type="submit"(click)="goToJob()"  shape="block" style="--background:green" style="color:white" expand="block"> View</ion-button> --> 

      <!-- </ion-card> -->
       <ion-card class="card">
        <ion-card-header>
          <ion-avatar>
            <img src="assets/icon/resume.svg">
          </ion-avatar>
          <ion-card-title class="card-title">{{job.name}}</ion-card-title>
          <ion-card-subtitle class="card-subtitle">BY:{{ job.company }}</ion-card-subtitle>
          
        </ion-card-header>
      
        <ion-card-content class="card-content">
          {{job.description}}
          <br>
          Email: {{ job.email }}
        </ion-card-content>
        
        <ion-button class="title" type="submit"(click)="goToJob(job)"  shape="round"  expand="block"  > View</ion-button>

        

      </ion-card>
      
      
      

    </ion-item>
     
    
  </ion-list>
  
  
<!-- </ion-card> -->
</ion-content> 

