
// ion-content{
//   --ion-background-color: #33cccc;
// }
.header{
  background-color: white;
}
.grid-container{
  display: grid;
}
.grid{
  background-color: white;
  border-radius: 15%;
  padding: 20px;

}
.card-content{
  background-color: white;
}
.title{
  font-family: cursive;
  font-size: larger;
  border-radius: 15%;
  --background: #33cccc;
  color:#1f8611;
}

.card-title {
  font-size: 10;  
  font-weight: bold;
  color: black;
  padding: 20px;
  font-family: cursive;
  background-color: white;

}
.card{
    border-radius: 15%;
    font-family: cursive;
    width: 100%;
    padding: 20px;
    background-color: white;   

}
.header{
  background-color: white;

}


.card-subtitle {
  font-size: 1.0em;  
  color: #33cccc;
  background-color: white;
  
}
