
// ion-content{
//   --ion-background-color: #33cccc;
// }
.header{
  background-color: white;
}
.grid-container{
  display: grid;
}
.grid{
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  background: white;
  background-color: white;
}
.card-content{
  background-color: white;
}
.title{
  font-size: larger;
  // border-radius: 15%;
  --background: #33cccc;
  color:#1f8611;
}

.card-title {
  font-size: 10;  
  font-weight: bold;
  color: black;
  // padding: 20px;
  background-color: white;

}
.card-content{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    background: white;
    width: 500px;

}
.header{
  background-color: white;

}


.card-subtitle {
  font-size: 1.0em;  
  color: #33cccc;
  background-color: white;
  
}
