<ion-header>
  <ion-toolbar>
    <ion-title>Opportunities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <div padding>
      Opportunities  <span style="color:#1f8611;"></span>
    </div> <br> 

    <ion-item *ngFor="let job of jobs" >
      
      <ion-label>
        <h2>{{job.name}}</h2>
        <p>Description : {{job.description}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="goToJob()"> View </ion-button>
      
    </ion-item>
     
    
  </ion-list>
</ion-content>
