<ion-header>
  
  <ion-toolbar color="favorite">
    
    <ion-title class="title"> Opportunities</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 




<ion-content>
  <div class="empty" *ngIf="jobs?.length === 0">
    <ion-icon name="notifications"></ion-icon>     
    <h1>No Jobs Posted Yet!</h1>      
      <!-- <div class="floatingbtn"> -->
        <ion-button class="title"  shape="block" style="color:white"(click)="goToAddjob()">Add Job</ion-button>

        
  </div>
  <ion-searchbar color="white" 
  placeholder="Search"
  [(ngModel)]="search"
  showCancelButton="focus"
  animated="true"
  >
</ion-searchbar>
  <ion-list lines="none" *ngIf="jobs?.length !== 0">
    <!-- <ion-card class="grid"> -->
      <ion-item *ngFor="let job of jobs| filter:search" class="grid">
        <ion-card class="grid">
          <ion-card-header class="header">
            
             <ion-grid >
              <ion-row >
                <ion-col col-md-3>
                  <ion-avatar>
                    <img src="assets/icon/resume.svg">
                    </ion-avatar>
                </ion-col>
                <ion-col col-md-3>
                  <h1>{{job.jobTitle}}</h1>
                  <!-- <ion-card-title class="card-title">{{job.jobTitle}}</ion-card-title> -->
                </ion-col>               
                
              </ion-row>
            </ion-grid>
            <ion-card-subtitle class="card-subtitle">BY:{{ job.company }}</ion-card-subtitle>
            
          </ion-card-header>
        
          <ion-card-content class="card-content">
            {{job.description}}
            <br>
            Email: {{ job.email }}
          </ion-card-content>
          <ion-button class="title" type="submit"(click)="goToJob(job)"  shape="round" style="--background:green" style="color:white" expand="block"> View</ion-button>
        </ion-card>
        
        
      </ion-item>       
    <!-- </ion-card>     -->
    
  </ion-list>
</ion-content>
