<ion-header>
  <ion-toolbar color="favorite">
    <ion-title class="title"> <span style="color:#1f8611;"> Add Job</span></ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  
  <form #form="ngForm" (ngSubmit)="addJob(form)" >
    <ion-list>
      <ion-card>
      <ion-item>
        <ion-label position="floating" class="word-color">Job Type</ion-label>
        <ion-select ngModel  name="jobId" required>
          <ion-select-option  value="1">Technology </ion-select-option>
          <ion-select-option  value="2">Health Sciences</ion-select-option>
          <ion-select-option  value="3">Architecture and Construction</ion-select-option>
          <ion-select-option  value="4">Agriculture</ion-select-option>     
          <ion-select-option  value="5">Education</ion-select-option>     
          <ion-select-option  value="6">Business and Finance</ion-select-option>     
          <ion-select-option  value="7">Entertainment</ion-select-option>     
          <ion-select-option  value="8">Marketing</ion-select-option>     
          <ion-select-option  value="9">Food and Beverages</ion-select-option>     
          <ion-select-option  value="10">Physical Fitness and Exercises</ion-select-option>     
          <ion-select-option  value="11">Household help</ion-select-option>     
          <ion-select-option  value="12">Other</ion-select-option>     
     
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card>

        <ion-item>
          <ion-label position="floating" class="word-color">Job Title</ion-label>
          <ion-input type="text" ngModel  name="name"  placeholder="Job Title"></ion-input>
        </ion-item>
      </ion-card>
      
      <ion-card>

        <ion-item>
          <ion-label position="floating" class="word-color"> Job Description</ion-label>
          <ion-textarea  ngModel name="description" required ></ion-textarea>
        </ion-item>
      </ion-card>

      <ion-card>

        <ion-item>
          <ion-label position="floating" class="word-color">Phone Number</ion-label>
          <ion-input type="tel" ngModel  name="phone"  placeholder="+256"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>

        <ion-item>
            <ion-label position="floating" class="word-color">Email Address</ion-label>
            <ion-input type="email" ngModel name="email"  placeholder="example@gmail.com"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>

        <ion-item>
            <ion-label position="floating" class="word-color">Salary</ion-label>
            <ion-input type="number" ngModel name="salary"  placeholder="amount"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>

        <ion-item>
            <ion-label position="floating" class="word-color">Experience</ion-label>
            <ion-input type="text" ngModel name="experience"  placeholder="basic,intermediary or expert "></ion-input>
        </ion-item>
      </ion-card>

            <ion-card>
  
        <ion-item>
          <ion-label position="floating" class="word-color">Company</ion-label>
          <ion-input type="text" ngModel name="company"  placeholder="Who is hiring"></ion-input>
      </ion-item>
    </ion-card>
      
  
        <!-- <ion-item>
            <ion-label position="floating">Job Details</ion-label>
            <input
            type="file"
            class="fileInput"
            (change)="selectDocument($event)"
          />
          <label for="file"><ion-icon name="images"></ion-icon> Select </label>        </ion-item>
        <br/> -->
        <ion-card>

        <ion-row>
          <ion-col size="10">
            <ion-label position="floating" class="word-color">Job Details</ion-label>

              <ion-item>
                  <input
                    type="file"
                    class="fileInput"
                    (change)="selectDocument($event)"
                  />
                  
                </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

        
     
    </ion-list>
    <ion-button class="title" type="submit" shape="round" style="color:white" expand="block">{{btnText}}</ion-button>
    $(":input").each(function() {
      if($(this).val() === "")
       alert("Empty Fields!!");
   });
  </form>
</ion-content>