#prefs{
    padding: 20px;
    margin-left: 30px;
    background: #ebfafa;
    font-family: 'Courier New', Courier, monospace;


}
.grid{
    display: flex;
    flex-direction: column;
    // border: 10px solid red;
    margin: 0 !important;
    background: white;
    background-color: white;
  padding: 50px
  }
.list{
  width: 100%;
}
.notification{
    display: grid;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: red;
    border: 2px solid red;
}
// *{
//     background-color: #33cccc;
//   }
.title{
    font-size: larger;
    color:#1f8611;
    --background: #33cccc;
    font-family: 'Courier New', Courier, monospace;


}
.small{
    margin:0px;
}