#prefs{
    padding: 20px;
    margin-left: 30px;
    background: #ebfafa;
   

}
*{
    background-color: #33cccc;
  }
.title{
    font-family: cursive;
    font-size: larger;
    color:#1f8611;
    --background: green;


}
.small{
    margin:0px;
}