
   

.content{
    background-color:white;
    display: grid;
    align-items: center;
    justify-content:center;

}
middle{
margin-left: 30px;
}
.title{
    font-family: cursive;
    font-size: small;
    color:white;
    --background: #33cccc;
}
.activeType{
    background: #fff !important;
    small{
        color:#33cccc !important;
    }
}
    
    
.inactiveType{
    background: #33cccc !important;
    small{
        color:#fff !important;
    }
}
.all{
    background: white;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.footer{
    display: grid;
    grid-template-rows: 1 2;
}

.form{
    // padding:20px;
    // margin-bottom: 30px;
    // border-bottom-left-radius: 25px;
    // border-bottom-right-radius: 25px;
    // border-top-left-radius: 25px;
    // border-top-right-radius: 25px;
    display:grid;
    align-items:center;
    justify-content:center;
}