<ion-header>
  
  <ion-toolbar color="favorite">    
    <ion-title class="title"> Seeker</ion-title>
    
  </ion-toolbar>
</ion-header> 
 
    
  
<ion-content >
  <ion-card class="content">
  
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-card class="content">
      <ion-list class="form">   
      
        <ion-item>
          <ion-icon name="person-outline">Full Name</ion-icon>
          <ion-input type="text" ngModel  name="name"  placeholder="Full name" required ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-input type="tel" ngModel  name="phone" placeholder="Phone Number" required   ></ion-input>
        </ion-item>
        
        
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="email" ngModel name="email" placeholder="email" required ></ion-input>
      </ion-item>
      
  
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
            <ion-input type="Password" ngModel  name="password" placeholder="Password" required minilength="5" ></ion-input>
        </ion-item>
        
        
  
      </ion-list>
      <small class="error">{{error}}</small>
    <ion-button  type="submit"  shape="round" style="color:white" expand="block"> {{ btnText }} </ion-button>
  </ion-card>
  </form>    
  <div text-center>
    <small> Clicking create account means you have agreed to <b>Seeker</b> terms and conditions.</small>
  </div>


</ion-card>
</ion-content>
<ion-footer>
  I have an account, <a (click)="goToLogin()"><b>Login</b></a>
</ion-footer>



