
   

.content{
    background-color:white;
}

.title{
    font-family: cursive;
    font-size: larger;
    color:#1f8611;
    --background: green;
}
.activeType{
    background: #fff !important;
    small{
        color:#33cccc !important;
    }
}
    
    
.inactiveType{
    background: #33cccc !important;
    small{
        color:#fff !important;
    }
}
.all{
    background: white;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
ion-content{
    --ion-background-color:#33cccc;
}

.form{
    padding:20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}