<ion-header>
  
  <ion-toolbar color="favorite">    
    <ion-title class="title"><b>Seeker</b> </ion-title>
    
  </ion-toolbar>
</ion-header> 
 
    
  
<ion-content >
  <!-- <ion-card class="content"> -->
  <ion-card>
    <ion-card-content>
      <img src="assets/icon/interview.svg" alt="" srcset="">
    </ion-card-content>

  </ion-card>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-card class="content">
      <ion-list class="form">   
      
        <ion-item>
          <ion-icon name="person-outline">Full Name</ion-icon>
          <ion-input type="text" ngModel  name="name"  placeholder="Full name" required ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-input type="tel" ngModel  name="phone" placeholder="Phone Number" required   ></ion-input>
        </ion-item>
        
        
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="email" ngModel name="email" placeholder="email" required ></ion-input>
      </ion-item>
      
  
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
            <ion-input type="Password" ngModel  name="password" placeholder="Password" required minilength="5" ></ion-input>
        </ion-item>
        
        
  
      </ion-list>
      <small class="error">{{error}}</small>
    <ion-button  type="submit"  class="title" shape="round" style="color:white" > <b>{{ btnText }}</b> </ion-button>
  </ion-card>

  </form>    


  <ion-button  type="submit"  class="sub-title"  style="color:white" (click)="goToPreferences()"> <b>Select Preferences before SignUp </b></ion-button>

<!-- </ion-card> -->
</ion-content>
<ion-footer class="footer">
<h3>  Already have an account
</h3>
   <ion-button class="title" (click)="goToLogin()"><b>Login</b></ion-button>
</ion-footer>



