
.title{
    font-family: cursive;
    font-size: larger;
    color:#1f8611;
    --background: green;


}
*{
  background-color: #33cccc;
}
.card-title {
  font-size: 20;  
  font-weight: bold;
  color: green;
  padding: 20px;
  font-family: cursive;
}
.card{
    border-radius: 15%;
    background-color: white;    
    font-family: cursive;
    width: 100%;
    padding: 20px;   

}
.btn-color {
    --background: var(--ion-color-btn);
    --background: #33cccc;
  }

.card-subtitle {
  font-size: 1.0em;  
  color: #33cccc;
  
}
