
.title{
    font-size: larger;
    color:white;
    --background: #33cccc;
    font-family: 'Courier New', Courier, monospace;
color: green;

}
.notification{
  display: grid;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: red;
  border: 2px solid red;
}
.btn-title{
  font-size: larger;
  color:white;
  --background: #33cccc;
  font-family: 'Courier New', Courier, monospace;
color: white;

}
// *{
//   background-color: #33cccc;
// }
.card-title {
  font-size: 20;  
  font-weight: bold;
  color: green;
  font-family: 'Courier New', Courier, monospace;

  // padding: 20px;
}
.buttons{
  display: flex;
}
.card{
    // border-radius: 15%;
    background-color: white;    
    width: 100%;
    // padding: 20px;   
    margin: 0 !important;

}


.card-subtitle {
  font-size: 1.0em;  
  color: white;
  
}
