<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="title"> <span style="color:#1f8611;"> Edit Profile</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="background">
    <!-- <ion-card-header class="card-head">
      <img [src]="shop.img" height="200px" style="width: 100%" alt=""  /> -->
      
      
    <!-- </ion-card-header> -->
    <!-- <br /> --> 

    <ion-card-content >
     
       <form #form="ngForm" (ngSubmit)="addProfile(form)" >
        <ion-list>
          <ion-card>

          <ion-item>
            <ion-label position="floating" style="color:green">Job Type</ion-label>
            <ion-select ngModel  name="jobId" required>
              <ion-select-option  value="1">Technology </ion-select-option>
          <ion-select-option  value="2">Health Sciences</ion-select-option>
          <ion-select-option  value="3">Architecture and Construction</ion-select-option>
          <ion-select-option  value="4">Agriculture</ion-select-option>     
          <ion-select-option  value="5">Education</ion-select-option>     
          <ion-select-option  value="6">Business and Finance</ion-select-option>     
          <ion-select-option  value="7">Entertainment</ion-select-option>     
          <ion-select-option  value="8">Marketing</ion-select-option>     
          <ion-select-option  value="9">Food and Beverages</ion-select-option>     
          <ion-select-option  value="10">Physical Fitness and Exercises</ion-select-option>     
          <ion-select-option  value="11">Household help</ion-select-option>     
          <ion-select-option  value="12">Other</ion-select-option>       
            </ion-select>
          </ion-item>
        </ion-card>
        <ion-card>

          <ion-item>
              <ion-label position="floating" style="color:green">Name</ion-label>
              <ion-input type="text" value={{user.name}} ngModel name="name"  placeholder="FullName" required></ion-input>
          </ion-item>

        </ion-card>

        <ion-card>

          <ion-item>
              <ion-label position="floating" style="color:green">Email</ion-label>
              <ion-input type="text" value={{user.email}} ngModel name="email" placeholder="example@gmail.com" required> </ion-input>
          </ion-item>
        </ion-card>       

        

        <ion-card>

            <ion-item>
              <ion-label position="floating" style="color:green">Address</ion-label> 
              <ion-input type="text" ngModel  name="address" value={{user.address placeholder="City or town" required></ion-input>
            </ion-item>
            <small class="error">{{error}}</small>

          </ion-card>

            <ion-card>

            <ion-item>
              <ion-label position="floating" style="color:green"> Age</ion-label>
              <ion-textarea  ngModel name="age"value={{user.age}} required ></ion-textarea>
            </ion-item>
            <small class="error">{{error}}</small>

          </ion-card>
    
          <ion-card>

            <ion-item>
              <ion-label position="floating" style="color:green">Sex</ion-label>
              <ion-select ngModel  name="sex" required>
                <ion-select-option  value="female">Female</ion-select-option>
                <ion-select-option  value="male">Male</ion-select-option>
              </ion-select>
            </ion-item>
            <small class="error">{{error}}</small>

          </ion-card>

          <ion-card>

            <ion-item>
                <ion-label position="floating" style="color:green">Nationality</ion-label>
                <ion-input type="text" ngModel name="nationality" value={{user.nationality}} placeholder="Ugandan" required></ion-input>
            </ion-item>
            <small class="error">{{error}}</small>

          </ion-card>

          <ion-card>

            <ion-item>
              <ion-label position="floating" style="color:green">LinkedIn Profile Link</ion-label>
              <ion-input type="text" ngModel name="linkedIn" value={{user.LinkedIn}} placeholder="linkedIn profile link"></ion-input>
          </ion-item>
          <small class="error">{{error}}</small>

        </ion-card>

        <ion-card>

          <ion-item>
            <ion-label position="floating" style="color:green">WebsiteLink Link</ion-label>
            <ion-input type="text" ngModel name="website" value={{user.website}} placeholder="website link"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>

        <ion-item>
          <ion-label position="floating" style="color:green">Medium Link</ion-label>
          <ion-input type="text" ngModel name="medium" value={{user.medium}} placeholder="medium link"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>

      <ion-item>
        <ion-label position="floating" style="color:green">Facebook Link</ion-label>
        <ion-input type="text" ngModel name="facebook" value={{user.facebook}} placeholder="facebook link"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-label position="floating" style="color:green">other  Link</ion-label>
      <ion-input type="text" ngModel name="other"  placeholder="other link"></ion-input>
  </ion-item>
</ion-card>
          
      
            <!-- <ion-item>
                <ion-label position="floating">Job Details</ion-label>
                <input
                type="file"
                class="fileInput"
                (change)="selectDocument($event)"
              />
              <label for="file"><ion-icon name="images"></ion-icon> Select </label>        </ion-item>
            <br/> -->
    
           
            
         
        </ion-list>
        <ion-button class="title" type="submit"  shape="block" style="color:white" expand="block">{{btnText}}</ion-button>
      </form> 
    </ion-card-content>
  </ion-card>  

  </ion-content>
