<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="jobs"></ion-back-button>
    </ion-buttons>
    <ion-title class="title"> <span style="color:#1f8611;"><b>My Job Detail</b> </span></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-item  >
  <ion-card class="card">
    <ion-card-header>
      <div class="grid-container">
        <div class="grid-item">
          <img src="assets/icon/resume.svg">
      </div>
  <div class="grid-item"><ion-card-title class="card-title"><b>{{jobdet.name}}</b></ion-card-title>
  </div>
        

      </div>
      
      <ion-card-title class="card-title">{{jobdet.jobTitle}}</ion-card-title>
      <ion-card-subtitle class="card-subtitle">BY:{{ jobdet.company }}</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content class="card-content">
     <p>{{jobdet.description}}</p> 
      <br>
      <p> Email: {{ jobdet.email }}</p>
<div class="buttons">
  <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="round" (click)="openPdf()"><b> Open pdf</b></ion-button>

  <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="block" (click)="deleteJob(jobdet.uid)"><b>Delete</b></ion-button>


  <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="block" (click)="goToEdit()"><b>Edit</b></ion-button>
</div>
      
  
</ion-card-content>

</ion-card>
</ion-item>
</ion-content>
